.np-header {
    height: 5rem;
    display: flex;
    align-items: center;
    padding-left: 2rem;
    padding-right: 2rem;
    background-image: linear-gradient(black, rgba(0,0,0,0));
    user-select: none;
    padding-bottom: 4px;

    @include breakpoint(mobile) {
        padding-left: 0.5rem;
    }

    .np-header-hamburger {
        // margin-right: 1rem;
        margin-left: 0.25rem;
        font-size: 1.5rem;
        width: 2.5rem;
        height: 2.5rem;
        border-radius: 4px;
        color: $primary;
        display: none;
        justify-content: center;
        align-items: center;
        cursor: pointer;

        @include breakpoint(mobile) {
            display: flex;
        }

        &:hover {
            background-color: rgb(34, 34, 34);
        }

        &:active {
            background-color: rgb(44, 44, 44);
        }
    }

    .np-header-back, .np-header-forward {
        font-size: 1.75rem;
        margin-left: 0.25rem;
        margin-right: 0.5rem;
        width: 1.75rem;
        height: 1.75rem;
        border-radius: 4px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;

        &:hover {
            background-color: rgb(34, 34, 34);
        }

        &:active {
            background-color: rgb(44, 44, 44);
        }

        &.back {
            margin-right: 0;
            padding-right: 4px;
        }

        &.np-header-forward {
            margin-left: 0;
            padding-left: 3px;
        }

        &.disabled {
            color: #444444;
        }

        &:not(.disabled) {
            color: $primary;
        }
    }

    .np-header-title {
        font-size: 2rem;
        color: $primary;
        margin-right: 2rem;
    }

    .np-header-subtitle {
        font-size: 1rem;
        color: $primary;
        margin-top: 0.5rem;

        @include breakpoint(mobile) {
            display: none;
        }
    }

    .np-header-spacer {
        flex-grow: 1;
    }

    .np-header-right {
        display: flex;
        align-items: center;
    }
}
