
$primary: #12C388 !default;
$page-bgcolor: #202020 !default;
$sidebar-bgcolor: #262626 !default;
$footer-bgcolor: #2A2A2A !default;
$text-color: #E3E3E3 !default;
$list-item-hor-padding: 0.75rem;
$list-item-line-color: #2F2F2F;
$list-item-hover-bgcolor: #262626;

@import url('https://fonts.googleapis.com/css?family=Monda&display=swap');

* {
    font-family: 'Monda', sans-serif;
    line-height: 1.5;
}

button::-moz-focus-inner {
    border: 0;
}
